<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book</title>
    <style media="screen">
      h1{
        font-size:3rem;
      }
      .fiyat{

      }
      p{
        font-size:1.5rem;
      }
span{
   font-weight: bold;
   font-size:1.7rem;
}



    </style>
  </head>
  <body>

<h1> <%= baslik %> </h1>
<img src="<%= img %>" alt="">
<p> <%= yorum %> </p>
<p> <%= yorum2 %> </p>
<p> <%= yorum3 %> </p>

<p> <span>Yazar :</span>  <%= yazar %> </p>
<p> <span>Çeviri :</span>  <%= ceviri %> </p>
<p class="fiyat" > <span>Fiyat :</span>  <%= yazar %> </p>
  </body>
</html>
